.titulo-carrito{
    color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 20px;
    border-bottom: 1px solid #C8F353 ;
    background-color: #C8F353;
}
.carrito-compras{
    display: block;
   align-items: center;
    justify-content: space-between;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.foto-carrito{
    height: 120px;
}
.btn-eliminar{
    border: none;
    cursor: pointer;
}
.total-a-pagar{
    display: flex;
    justify-content: right;
    font-size: 24px;
    font-weight: 700;
    margin-right: 1rem;
}
.btn-pagar{
    padding: 7px 13px; 
    font-size: 16px;
    background-color: #C8F353; 
    color: black; 
    border-radius: 5px; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-color: #C8F353;
}
.btn-vaciar{
    padding: 7px 13px; 
    font-size: 16px;
    background-color: black; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-color: black;
}
.btns-carrito{
    display: flex;
    justify-content: right;
    margin: 1rem;
    gap: 1rem;
}