.carro{
    width: 1.5rem;
    background-color: #C8F353;
}
.badge{
    font-size: 17px;
    background-color: #C8F353;
}
.container{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .6rem;
    background-color: #C8F353;
    border-radius: 10%;
}