.banner{
    color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 20px;
    border-bottom: 1px solid #C8F353 ;
    background-color: #C8F353;
}
.banner-category{
    background-color: #C8F353;
}