.link-producto{
   text-decoration: none;
   color: black;
  
}
.nombre{
    font-size: 17px;
    padding-bottom: .2rem;
}
.genero{
    color: grey;
    font-size: 16px;
    padding-bottom: .2rem;
}

.precio{
    font-size: 16px;
    padding-bottom: 1.5rem;
   font-weight: 570;
}
