.navContainer{
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    border-bottom: 1px solid #C8F353;
    padding: 1rem 3rem;
    position: sticky;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    transition: .2s;
    color: #C8F353;
    text-decoration: none;
}
.linksContainer{
    display: flex;
    gap: 1rem;
}
.link{
    color: #C8F353;
    text-decoration: none;
}