.contador{
    display: flex;
    align-items: center;
    justify-content: right;
}
.inicial{
    font-size: 17px;
}
.btn-restar{
    font-size: 20px;
    height: 2.5rem;
    width: 5rem;
    border-style: solid;
    border-width: .2rem;
    border-color: #C8F353;
    border-radius: 2rem;
    cursor: pointer;
}
.btn-sumar{
    font-size: 20px;
    height: 2.5rem;
    width: 5rem;
    border-style: solid;
    border-width: .2rem;
    border-color: #C8F353;
    border-radius: 2rem;
    cursor: pointer;
}
.btn-comprar{
    font-size: 17px;
    height: 2.5rem;
    width: 6rem;
    border-style: solid;
    border-width: .2rem;
    border-color: #C8F353;
    border-radius: 2rem;
    font-weight: 600;
   cursor: pointer;
}